In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff

warnings.filterwarnings("ignore")

In [2]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/empresas.csv", sep=';')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,21/12/2021,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,16/01/2021,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,25/08/2021,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,30/10/2019,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,05/02/2022,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,08/02/2022,NaN

In [3]:
df['Data compra'] = pd.to_datetime(df['Data compra'], format='%d/%m/%Y')
df['Data cancelamento'] = pd.to_datetime(df['Data cancelamento'], format='%d/%m/%Y')
df['Data cadastro'] = pd.to_datetime(df['Data cadastro'], format='%d/%m/%Y')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [4]:
colunas = {"Nome":"nome","Email":"email","Telefone":"telefone","CPF/CNPJ":"CPF/CNPJ","Data cadastro":"dtcadastro","Cidade":"cidade","UF":"uf","Qtd vistoria":"qtdvistoria","Qtd foto":"qtdfoto","Armazenamento":"armazenamento",
           "Data limite teste":"limiteteste","Vencimento":"vencimento","Valor":"valor",
           "Desconto":"desconto","Valor vistoria adicional":"vistoriaadd","Data compra":"dtcompra","Data cancelamento":"dtcancelamento","Data cancelamento":"dtcancelamento","Situação":"situacao"}
df.rename(columns=colunas, inplace=True)
df.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [5]:
df_canc = df[df['situacao'] == 'Cancelada']
df_canc.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
24,ABREU IMÓVEIS LTDA,ailton@abreuimoveis.com.br,NaN,08.234.676/0001-51,2021-01-16,Natal,RN,80,999999,20,Cancelada,NaN,5.0,266.0,NaN,3.5,NaT,2021-09-04
29,AC ANTUNES,NaN,NaN,21.270.583/0001-40,2021-01-16,teste,AC,10,90,1,Cancelada,NaN,NaN,NaN,NaN,NaN,NaT,NaT
30,Acapulco Empreendimentos Imobiliários American...,rosana@acapulcoimoveis.com.br,(19) 996097055,52.150.448/0001-95,2021-01-16,Americana,SP,30,999999,30,Cancelada,NaN,5.0,194.0,NaN,3.5,2018-08-13,NaT
34,AÇORES CORRETORA DE SEGUROS E ASS. EMPRESARIAL...,NaN,NaN,01.523.572/0001-18,2021-01-16,teste,SP,20,999999,3,Cancelada,NaN,NaN,NaN,NaN,NaN,NaT,NaT
36,ACRC IMOVEIS,luziana@acrcimoveis.com.br,NaN,03.705.013/0001-54,2021-01-16,Blumenau,SC,30,999999,30,Cancelada,NaN,5.0,199.7,NaN,3.5,NaT,2021-04-04

In [6]:
df_compr = df[(df['situacao'] == 'Ativa') | ((df['situacao'] != 'Cancelada') & (df['situacao'] != 'Gratuito inativo') & (df['situacao'] != 'Gratuito'))]
df_compr.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.00,NaN,3.5,2022-02-08,NaT
13,A Agnello Imoveis S/C Ltda.,financeiro@agnelloimoveis.com.br,(16) 37110000,05.348.746/0001-04,2021-01-16,Franca,SP,50,999999,10,Ativa,NaN,5.0,235.37,NaN,3.5,NaT,NaT
17,ABIATAR CONSULTORIA IMOBILIARIA EIRELI,jessica@abiatar.com,(11) 964508509,18.802.961/0001-85,2020-02-05,TABOAO DA SERRA,SP,10,999999,1,Ativa,NaN,14.0,120.00,NaN,3.5,2020-02-10,NaT
28,A CAMARGO IMOVEIS LTDA ME,nelia@acamargoimoveis.com.br,(11) 26298061,25.331.625/0001-67,2021-01-16,Maua,SP,10,999999,11,Ativa,NaN,5.0,136.59,NaN,3.5,NaT,NaT
33,ACONTECE ASSESSORIA E PLANEJAMENTO IMOBILIARIO...,boletoacontece@gmail.com,(61) 33444112,26.977.553/0001-92,2021-01-16,Brasília,DF,150,999999,20,Ativa,NaN,15.0,402.82,NaN,3.5,NaT,NaT

In [7]:
# #testando
# df_test = df_compr[(df_compr['dtcompra'] >= '2022-02-01') & (df_compr['dtcompra'] <= '2022-02-28')]
# df_test['valor'].sum()

# Preparando os cancelados

In [8]:
df_canc

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
24,ABREU IMÓVEIS LTDA,ailton@abreuimoveis.com.br,NaN,08.234.676/0001-51,2021-01-16,Natal,RN,80,999999,20,Cancelada,NaN,5.0,266.0,NaN,3.5,NaT,2021-09-04
29,AC ANTUNES,NaN,NaN,21.270.583/0001-40,2021-01-16,teste,AC,10,90,1,Cancelada,NaN,NaN,NaN,NaN,NaN,NaT,NaT
30,Acapulco Empreendimentos Imobiliários American...,rosana@acapulcoimoveis.com.br,(19) 996097055,52.150.448/0001-95,2021-01-16,Americana,SP,30,999999,30,Cancelada,NaN,5.0,194.0,NaN,3.5,2018-08-13,NaT
34,AÇORES CORRETORA DE SEGUROS E ASS. EMPRESARIAL...,NaN,NaN,01.523.572/0001-18,2021-01-16,teste,SP,20,999999,3,Cancelada,NaN,NaN,NaN,NaN,NaN,NaT,NaT
36,ACRC IMOVEIS,luziana@acrcimoveis.com.br,NaN,03.705.013/0001-54,2021-01-16,Blumenau,SC,30,999999,30,Cancelada,NaN,5.0,199.7,NaN,3.5,NaT,2021-04-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4757,WILC CONSULTORIA IMOBILIARIA EIRELI,adm@wilcimoveis.com.br,(21) 983155831,22.013.191/0001-69,2020-01-09,RIO DE JANEIRO,RJ,10,999999,1,Cancelada,NaN,5.0,110.0,NaN,3.5,NaT,NaT
4761,William,ferreirawill5513@gmail.com,(11) 987745948,494.185.918-98,2020-12-04,São Paulo,SP,5,999999,1,Cancelada,NaN,20.0,79.9,NaN,3.5,NaT,2021-03-03
4771,Willian Silva Cerqueira,w.sc1980@hotmail.com,(11) 96432-4650,796.346.305-10,2021-07-02,Osasco,SP,10,999999,1,Cancelada,NaN,12.0,120.0,NaN,3.5,2021-07-12,2021-09-11
4779,W Negócios Imobiliários Eirele,handrigo@wnegocios.com.br,(11) 940224422,10.404.385/0001-06,2021-01-16,São Paulo,SP,10,999999,11,Cancelada,NaN,15.0,134.0,NaN,3.5,NaT,NaT
4792,YUCA COMUNIDADE E TECNOLOGIA LTDA.,mossa@yuca.live,(11) 991406051,34.399.713/0001-91,2020-11-27,São Paulo,SP,10,999999,1,Cancelada,NaN,8.0,120.0,NaN,3.5,2021-01-08,2021-03-10

In [9]:
df_canc2 = df_canc[['uf','situacao']]
df_canc2

      uf   situacao
24    RN  Cancelada
29    AC  Cancelada
30    SP  Cancelada
34    SP  Cancelada
36    SC  Cancelada
...   ..        ...
4757  RJ  Cancelada
4761  SP  Cancelada
4771  SP  Cancelada
4779  SP  Cancelada
4792  SP  Cancelada

[413 rows x 2 columns]

In [10]:
df_canc_total = (df_canc2.groupby(['uf', 'situacao'])['situacao'].agg(['count']).sort_values(by='count', ascending=False).reset_index())
df_canc_total

    uf   situacao  count
0   SP  Cancelada    144
1   AC  Cancelada     76
2   MG  Cancelada     40
3   SC  Cancelada     26
4   RJ  Cancelada     23
5   PR  Cancelada     21
6   RS  Cancelada     16
7   BA  Cancelada     13
8   DF  Cancelada     11
9   GO  Cancelada      8
10  CE  Cancelada      7
11  ES  Cancelada      4
12  PA  Cancelada      4
13  AM  Cancelada      3
14  PE  Cancelada      3
15  PI  Cancelada      3
16  RN  Cancelada      3
17  MT  Cancelada      2
18  RR  Cancelada      2
19  SE  Cancelada      1
20  PB  Cancelada      1
21  MS  Cancelada      1
22  TO  Cancelada      1

# Preparando Ativos

In [11]:
df_compr2 = df_compr[['uf','situacao']]
df_compr2

      uf                   situacao
4     MT                      Ativa
13    SP                      Ativa
17    SP                      Ativa
28    SP                      Ativa
33    DF                      Ativa
...   ..                        ...
4772  SP  Inativa por não pagamento
4778  SP                      Ativa
4797  SP                      Ativa
4802  SP                      Ativa
4803  SP                      Ativa

[578 rows x 2 columns]

In [12]:
df_compr_gr2 = (df_compr2.groupby(['uf', 'situacao'])['situacao'].agg(['count']).sort_values(by='count', ascending=False).reset_index())
df_compr_gr2

    uf                   situacao  count
0   SP                      Ativa    207
1   MG                      Ativa     86
2   SC                      Ativa     51
3   RS                      Ativa     32
4   PR                      Ativa     27
5   RJ                      Ativa     22
6   DF                      Ativa     16
7   CE                      Ativa     12
8   SP                      Teste     10
9   MS                      Ativa     10
10  PE                      Ativa      9
11  AC                      Ativa      9
12  MT                      Ativa      7
13  PA                      Ativa      6
14  GO                      Ativa      6
15  RJ                      Teste      6
16  BA                      Ativa      5
17  PR                      Teste      5
18  SC                      Teste      4
19  ES                      Ativa      4
20  PI                      Ativa      3
21  SE                      Ativa      3
22  RO                      Ativa      3
23  RS                      Teste      3
24  MG                      Teste      3
25  SC  Inativa por não pagamento      3
26  SP  Inativa por não pagamento      3
27  RJ  Inativa por não pagamento      2
28  MG  Inativa por não pagamento      2
29  AM                      Ativa      2
30  PB                      Ativa      2
31  PA                      Teste      2
32  MT  Inativa por não pagamento      2
33  RS  Inativa por não pagamento      1
34  PE                      Teste      1
35  RN  Inativa por não pagamento      1
36  RN                      Ativa      1
37  PR  Inativa por não pagamento      1
38  MS                      Teste      1
39  GO                      Teste      1
40  DF                      Teste      1
41  CE                      Teste      1
42  BA  Inativa por não pagamento      1
43  TO                      Ativa      1

# Merge Data Frames

In [13]:
# df_merge_col = pd.merge(df_compr_gr2, df_canc_total, on='uf')
# df_merge_col

In [14]:
frames = [df_compr_gr2, df_canc_total]
dfresult = pd.concat(frames)
dfresult

    uf   situacao  count
0   SP      Ativa    207
1   MG      Ativa     86
2   SC      Ativa     51
3   RS      Ativa     32
4   PR      Ativa     27
..  ..        ...    ...
18  RR  Cancelada      2
19  SE  Cancelada      1
20  PB  Cancelada      1
21  MS  Cancelada      1
22  TO  Cancelada      1

[67 rows x 3 columns]

In [15]:
dfresult.to_csv("../datasets/df_empresas_ativas_canceladas.csv")