In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff

warnings.filterwarnings("ignore")

In [2]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/empresas.csv", sep=';')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,21/12/2021,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,16/01/2021,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,25/08/2021,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,30/10/2019,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,05/02/2022,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,08/02/2022,NaN

In [3]:
df['Data compra'] = pd.to_datetime(df['Data compra'], format='%d/%m/%Y')
df['Data cancelamento'] = pd.to_datetime(df['Data cancelamento'], format='%d/%m/%Y')
df['Data cadastro'] = pd.to_datetime(df['Data cadastro'], format='%d/%m/%Y')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [4]:
colunas = {"Nome":"nome","Email":"email","Telefone":"telefone","CPF/CNPJ":"CPF/CNPJ","Data cadastro":"dtcadastro","Cidade":"cidade","UF":"uf","Qtd vistoria":"qtdvistoria","Qtd foto":"qtdfoto","Armazenamento":"armazenamento",
           "Data limite teste":"limiteteste","Vencimento":"vencimento","Valor":"valor",
           "Desconto":"desconto","Valor vistoria adicional":"vistoriaadd","Data compra":"dtcompra","Data cancelamento":"dtcancelamento","Data cancelamento":"dtcancelamento","Situação":"situacao"}
df.rename(columns=colunas, inplace=True)
df.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [6]:
df_compr = df[(df['dtcompra'] >= '2022-01-01') & (df['situacao'] != 'Cancelada')]
df_compr.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT
64,Administra,contato@administra.com.br,(61) 99695-0257,10.426.167/0001-72,2021-08-12,Brasília,DF,10,999999,1,Ativa,NaN,15.0,110.0,10.0,3.5,2022-02-02,NaT
83,Adriano Gonçalves Marques,adriano.g.marques@gmail.com,(11) 98871-0101,286.920.118-43,2022-03-31,São Paulo,SP,10,999999,1,Ativa,NaN,5.0,110.0,NaN,3.5,2022-04-05,NaT
203,ALIANCA CONSULTORIA DE IMOVEIS LTDA - ME,valdemar@aliancaimob.com,NaN,03.265.351/0001-12,2021-01-16,UBERLANDIA,MG,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT
263,Ampla Soluções Imobiliárias,amplavistoriadeimoveis@gmail.com,(84) 99632-5359,010.232.224-42,2021-04-17,Natal,RN,10,999999,1,Inativa por não pagamento,NaN,5.0,110.0,NaN,3.5,2022-02-03,NaT

In [7]:
df_compr['mes'] = pd.DatetimeIndex(df_compr['dtcompra']).month
# df['mes_canc'] = df['mes_canc'].astype(int, errors='ignore')
df_compr['mes'] = df_compr['mes'].fillna(0).astype(int)

df_compr.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT,2
64,Administra,contato@administra.com.br,(61) 99695-0257,10.426.167/0001-72,2021-08-12,Brasília,DF,10,999999,1,Ativa,NaN,15.0,110.0,10.0,3.5,2022-02-02,NaT,2
83,Adriano Gonçalves Marques,adriano.g.marques@gmail.com,(11) 98871-0101,286.920.118-43,2022-03-31,São Paulo,SP,10,999999,1,Ativa,NaN,5.0,110.0,NaN,3.5,2022-04-05,NaT,4
203,ALIANCA CONSULTORIA DE IMOVEIS LTDA - ME,valdemar@aliancaimob.com,NaN,03.265.351/0001-12,2021-01-16,UBERLANDIA,MG,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT,1
263,Ampla Soluções Imobiliárias,amplavistoriadeimoveis@gmail.com,(84) 99632-5359,010.232.224-42,2021-04-17,Natal,RN,10,999999,1,Inativa por não pagamento,NaN,5.0,110.0,NaN,3.5,2022-02-03,NaT,2

In [9]:
import calendar
result = []
for i in df_compr['mes']:
    result.append(calendar.month_abbr[i])
df_compr['month'] = result
print(result)

['Feb', 'Feb', 'Apr', 'Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Apr', 'Feb', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Apr', 'Jan', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Mar', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Jan', 'Jan', 'Mar', 'Feb', 'Jan', 'Mar', 'Feb', 'Mar', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Feb']

In [10]:
df_compr.sort_values("mes")

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes,month
3563,Paulo Dias Corretor de Imóveis,comercial@paulodiascorretorhp.com.br,(47) 99666-5971,34.595.951/0001-72,2022-01-07,Balneário Camboriu,SC,10,999999,1,Ativa,NaN,21.0,120.0,NaN,3.5,2022-01-21,NaT,1,Jan
1052,Dc Imoveis,daiana@dcimoveissc.com.br,(47) 3345-0324,26.529.193/0001-66,2021-11-09,Penha,SC,5,999999,1,Ativa,NaN,6.0,89.0,NaN,3.5,2022-01-06,NaT,1,Jan
1852,Habitar Soluções Imobiliárias,fabianadebastiani@gmail.com,(66) 9224-6722,39.815.102/0001-09,2021-05-26,Sorriso,MT,10,999999,1,Ativa,NaN,20.0,120.0,NaN,3.5,2022-01-20,NaT,1,Jan
3039,Marcos Antônio Moraes,mmvistorias@mmvistorias.com.br,(31) 98443-7621,044.243.406-51,2022-01-23,Betim,MG,10,999999,26,Ativa,NaN,10.0,155.0,NaN,3.5,2022-01-31,NaT,1,Jan
4083,Rozinardo serafim da luz,tekoserafim@gmail.com,(47) 99233-2255,206.677.418-95,2022-01-04,Blumenau,SC,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT,1,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406,Everton Tavares Vilela,everton_vilela@yahoo.com.br,(24) 98808-5221,028.331.617-94,2022-02-20,Miguel Pereira,RJ,20,999999,1,Ativa,NaN,5.0,155.0,50.0,3.5,2022-03-03,NaT,3,Mar
2297,JJ Santos Imóveis,cristina@jjsantosimoveis.com.br,(11) 2601-0244,38.048.417/0001-05,2022-03-18,São Paulo,SP,10,999999,1,Ativa,NaN,23.0,110.0,NaN,3.5,2022-03-23,NaT,3,Mar
1273,Eliel Rosa da Silva,eliel.2014@outlook.com.br,(47) 99769-3866,073.294.229-24,2020-12-03,Joinville,SC,30,999999,5,Ativa,NaN,5.0,159.0,NaN,3.5,2022-04-01,NaT,4,Apr
83,Adriano Gonçalves Marques,adriano.g.marques@gmail.com,(11) 98871-0101,286.920.118-43,2022-03-31,São Paulo,SP,10,999999,1,Ativa,NaN,5.0,110.0,NaN,3.5,2022-04-05,NaT,4,Apr
1650,Fullcheck Vistorias,fullcheckvistorias@gmail.com,(31) 99435-3004,43.530.495/0001-73,2022-03-17,Belo Horizonte,MG,10,999999,1,Ativa,NaN,5.0,120.0,NaN,3.5,2022-04-01,NaT,4,Apr

# Preparando Ativos

In [17]:
df_compr2 = df_compr[['situacao','mes','valor']]
df_compr2

                       situacao  mes  valor
4                         Ativa    2  159.0
64                        Ativa    2  110.0
83                        Ativa    4  110.0
203                       Ativa    1  120.0
263   Inativa por não pagamento    2  110.0
...                         ...  ...    ...
4710  Inativa por não pagamento    2  110.0
4713                      Ativa    2  155.0
4741                      Ativa    3  120.0
4763                      Ativa    1  140.0
4772  Inativa por não pagamento    2  120.0

[69 rows x 3 columns]

In [18]:
import calendar
result = []
for i in df_compr2['mes']:
    result.append(calendar.month_abbr[i])
df_compr2['month'] = result
print(result)

['Feb', 'Feb', 'Apr', 'Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Apr', 'Feb', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Apr', 'Jan', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Mar', 'Mar', 'Mar', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Mar', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Jan', 'Jan', 'Mar', 'Feb', 'Jan', 'Mar', 'Feb', 'Mar', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Feb']

In [19]:
df_compr2.drop('mes', axis=1, inplace=True)
df_compr2.drop('situacao', axis=1, inplace=True)
df_compr2

      valor month
4     159.0   Feb
64    110.0   Feb
83    110.0   Apr
203   120.0   Jan
263   110.0   Feb
...     ...   ...
4710  110.0   Feb
4713  155.0   Feb
4741  120.0   Mar
4763  140.0   Jan
4772  120.0   Feb

[69 rows x 2 columns]

In [20]:
df_compr_gr2 = (df_compr2.groupby(['month'])['valor'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
df_compr_gr2

  month     sum
0   Mar  3731.0
1   Feb  3081.9
2   Jan  2083.0
3   Apr   389.0

In [21]:
months = ["Jan", 
          "Feb", "Mar", "Apr"]
df_compr_gr2['month'] = pd.Categorical(df_compr_gr2['month'], categories=months, ordered=True)
df_compr_gr2.sort_values(by='month', ascending = True, inplace=True)

df_compr_gr2

  month     sum
2   Jan  2083.0
1   Feb  3081.9
0   Mar  3731.0
3   Apr   389.0

In [22]:
months = ["Jan", "Feb", "Mar", "Apr"]
df_compr_gr2['month'] = pd.Categorical(df_compr_gr2['month'], categories=months, ordered=True)
df_compr_gr2.sort_values(by='month', ascending = True, inplace=True)
df_compr_gr2

  month     sum
2   Jan  2083.0
1   Feb  3081.9
0   Mar  3731.0
3   Apr   389.0

In [23]:
df_compr_gr2.sort_values("month")

  month     sum
2   Jan  2083.0
1   Feb  3081.9
0   Mar  3731.0
3   Apr   389.0

In [26]:
df_compr_gr2.rename(columns = {'sum':'Total'}, inplace = True)
df_compr_gr2

  month   Total
2   Jan  2083.0
1   Feb  3081.9
0   Mar  3731.0
3   Apr   389.0

In [27]:
df_compr_gr2.to_csv("../datasets/sales_ultimo_trimestre.csv")